<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="northwind" 
         providerName="System.Data.SqlClient" 
         connectionString="             
                       Data Source=(LocalDB)\v11.0;             
                       AttachDbFilename=|DataDirectory|\northwnd.mdf;             
                       Integrated Security=True;             
                       Connect Timeout=30" 
    />
  </connectionStrings>
</configuration>